/* STYLING FOR MY BLOG*/


/* Making the hero section pretty */
div.Hero_pic{
    background-image: url('Images/IMG_6323.jpeg');

    background-repeat: no-repeat; /*this part is from the MY ArtisticSelf Lab(s)*/
    background-size: cover;
    background-position: center;
    position: relative;
    
    padding: 200px 40px;
    text-align: center;
}

/* Styling hero text */
.HText_title{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin: 0;
    color:moccasin;
}

.HText_subtitle{
    font-size: 2rem;
    margin-top: 10px;
    color: moccasin;
}

.Part2{
    display:flex;
    justify-content: space-between;
}

.Main{
    /* background-color: ghostwhite; */
    width: 60%;
    padding: 2.5%;
}

.Aside{
    background-color: thistle;
    width: 20%;
    position: relative;
    padding: 2.5%;
}